* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    width: 100%;
    height: 100vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    height: auto;
}

.title {
    font-size: 2em;
    margin-bottom: 2em;
    color: #827B7B;
    text-align: center;
}

.box-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-url {
    padding: 1.5em 2em;
    text-align: center;
    outline: transparent;
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
    font-size: 1.2em;
    color: #1E272E;
    margin-bottom: 2.5em;
    background-image: url(/images/link.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.5em;
}

.btn {
    padding: 1em 2em;
    width: 8em;
    border-radius: 45px;
    background-color: #039BE5;
    font-size: 1.25em;
    color: #1E272E;
    margin-bottom: 6em;
}

.btn:hover {
    transition: .5s;
    background-color: #FAC800;
}

.logo {
    margin-bottom: 4em;
    text-align: center;
    transform: scale(3);
}

.footer {
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        width: 95%;
    }
    .title {
        font-size: 2em;
        margin-bottom: 1.5em;
    }
    .input-url {
        width: 100%;
        max-width: 300px;
    }
    .btn {
        padding: 1em 1.5em;
        width: 8em;
    }
    .logo {
        transform: scale(2);
    }
    .footer {
        font-size: 0.8em;
    }
}
