* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    width: 100vw;
    height: 100vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    padding: 20px; 
}

.title {
    font-size: 3vw;
    margin-bottom: 2vh;
    color: #827B7B;
    text-align: center;
}

.box-input {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-url {
    padding: 2vw 4vw;
    text-align: center;
    outline: transparent;
    width: 80%;
    border-radius: 50px;
    font-size: 2vw;
    color: #1E272E;
    margin-bottom: 2vh;
    background-image: url(/images/link.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.5em;
}

.btn {
    padding: 2vh 4vw;
    width: 40%;
    margin-left: 2vw;
    border-radius: 50px;
    background-color: #039BE5;
    font-size: 2vw;
    color: #1E272E;
    margin-bottom: 10vh;
}

.btn:hover {
    transition: 0.5s;
    background-color: #FAC800;
}

.logo {
    margin-bottom: 5vh;
    text-align: center;
    transform: scale(1.5);
}

.footer {
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        width: 90%;
    }

    .input-url {
        width: 100%;
    }
}
